/* In the name of Allah */

:root {
  --ff: "Poppins", sans-serif;
  --oil-black: #0c0c0c;
  --clr-text-t: #5f7adb;
  --clr-text-sh: #4c9a62;
  --clr-text-d: #ffb874;
  --clr-text-hj: #4e91fd;
  --clr-text-f: #ec6b5b;
  --clr-text-T: #ffd700;
}

body {
  margin: 0;
  font-family: var(--ff);
  background-color: var(--oil-black);
  color: silver;
  box-sizing: border-box;
  margin-block-end: 2rem;
}

.container {
  max-width: 95%;
  margin-inline: auto;
}

/*************** Header ***************/
.lecture-header {
  h1,
  h4 {
    margin-block: 0.5rem;
  }

  h1 {
    margin-block: 1rem;
    color: var(--clr-text-t);
  }
  h4:last-of-type {
    opacity: 0.5;
  }
}

.search-bar {
  border: 1px solid #aaaaaa47;
  padding: 0.5rem;
  border-radius: 1rem;
  display: flex;
  /* gap: 1rem; */

  input {
    flex-grow: 1;
  }

  input,
  button {
    border: 0;
    color: silver;
    background-color: transparent;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }

  button {
    cursor: pointer;
  }
}

/*************** Main ***************/
h5 {
  margin-block-start: 0.75rem;
  margin-block-end: 0.5rem;
}

.lecture-main {
  width: 100%;
}

.lecture-cards {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 1.25rem;
  justify-content: center;
  align-items: center;
  justify-items: center;

  /* > .Table {
    grid-column: 1/-1;
    width: 50%;
    justify-self: center;
    align-self: center;
  } */

  > * {
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
    aspect-ratio: 1/1;
    border-radius: 0.5rem;
    position: relative;
    box-shadow: 0 0 1rem 0 var(--clr-text-t);
    transition: box-shadow 0.5s;
    transition: transform 0.5s;
  }

  > *:hover {
    box-shadow: 0 0 1rem 0 silver;
    transform: translateY(-1rem);
    z-index: 100;
  }

  span {
    position: absolute;
    left: 0.5rem;
    top: 0.25rem;
    font-weight: bold;
    background-color: #0c0c0c;
    border-radius: 0.25rem;
    padding: 0.25rem;
  }

  h3 {
    text-align: center;
    background-color: rgb(12, 12, 12, 0.8);
    backdrop-filter: blur(0.5rem);
    position: absolute;
    width: 100%;
    bottom: 0;
    margin-block-end: 0.5rem;
    border-radius: 0rem;
    padding-block: 0.25rem;
    line-height: 1;
  }

  a {
    color: var(--clr-text-t);
    text-decoration: none;
    transition:
      color 0.5s,
      box-shadow 0.5s,
      transform 0.5s;
  }

  a:has(div):hover {
    transform: translateY(-1rem);
    color: gold;
    box-shadow: 0 0 1rem 0 silver;
    z-index: 100;
  }

  h3 > a {
    transition: color 0.5s;
  }
  a:has(div):hover h3 > a {
    color: gold;
  }
}

/*************** Medie Queries (Tablet) ***************/
@media (600px <= width <= 1023px) {
  .container {
    max-width: 85%;
  }
  
  .search-bar {
    width: 45%;
  }

  h5 {
    margin-block-end: 1.25rem;
  }

  .lecture-cards {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem 0rem;

    > * {
      border-radius: 0.75rem;
    }
  }
}

/*************** Medie Queries (Desktop) ***************/
@media (width >= 1024px) {
  .container {
    max-width: 75%;
  }

  .search-bar {
    width: 25%;
  }

  h5 {
    margin-block-end: 1rem;
  }

  .lecture-cards {
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem 0rem;

    > * {
      border-radius: 1rem;
    }
  }
}
